################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/FAANG_READINESS_CHECKLIST.md
/.agents/
/.codex/
