## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.mdb
*.log
*.vs/
.vscode/
TestResults/
.nuget/
*.nupkg
project.lock.json
artifacts/
_ReSharper*/
*.DotSettings.user
*.csproj.user
*.db
*.sqlite

## Build / config
appsettings.*.json
!LiveSync.Api/appsettings.Development.json
!LiveSync.SignalR/appsettings.Development.json
secret*.json
*.env

